img.catsnap-img {
    margin-top: 5px;
}

#map {
    flex: 1 1 auto;
}

.log.log-debug {
    font-size: 0.6em;
    overflow-wrap: break-word;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.lastKnown {
    /* background: transparent; */
    background: inherit;
    border: none !important;
    border-radius: 0 !important;
}
.hiding {
    display: none;
}
.transparent50 {
    /* color: "lightgray"; */
	  /* Theoretically for IE 8 & 9 (more valid) */
	  /* ...but not required as filter works too */
	  /* should come BEFORE filter */
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	  /* This works in IE 8 & 9 too */
	  /* ... but also 5, 6, 7 */
	  filter: alpha(opacity=50);

	  /* Older than Firefox 0.9 */
	  -moz-opacity:0.5;

	  /* Safari 1.x (pre WebKit!) */
	  -khtml-opacity: 0.5;

	  /* Modern!
	  /* Firefox 0.9+, Safari 2?, Chrome any?
	  /* Opera 9+, IE 9+ */
	  opacity: 0.5;
}

.btn-dark {
    border-bottom: 2px solid whitesmoke;
}

.lastknown-col {
    background: rgba(255,255,255,0.45);
    /* filter:blur(4px); */
    /* -o-filter:blur(4px); */
    /* -ms-filter:blur(4px); */
    /* -moz-filter:blur(4px); */
    /* -webkit-filter:blur(4px); */
}
.lastknown-col.dark {
    background: rgba(0,0,0,0.35);
}

#lastknown {
    background: inherit;
    overflow: hidden;
}

#lastknown:before{
    background: inherit;
    /* filter:blur(10px); */
    /* -o-filter:blur(10px); */
    /* -ms-filter:blur(10px); */
    /* -moz-filter:blur(10px); */
    /* -webkit-filter:blur(10px); */
}

.lastKnown.filtering {

    border-left: 0.5em solid !important;
    font-weight: bold;
}

.lap-leaflet-map {
    height: 200px;
    width: 100%;
    background-color: pink;
}

.leaflet-container {
    /* background: white !important; */
    /* background: #222 ; */
    background: inherit !important ;
    /*border: 1px solid lime;*/
}

.leaflet-control-viewsettings-toggle {
    width: 44px;
    height: 44px;
    background-image: url(images/icon-settings.png);
     /*background-image: url(images/map-marker-icon.png);*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-bottom.leaflet-right {
    /*display: none !important;*/
}

/*overrides*/
.list-group-item {
}

/* #main2-links { */
/*     background: inherit; */
/*     /\* filter:blur(10px); *\/ */
/*     /\* -o-filter:blur(10px); *\/ */
/*     /\* -ms-filter:blur(10px); *\/ */
/*     /\* -moz-filter:blur(10px); *\/ */
/*     /\* -webkit-filter:blur(10px); *\/ */
/* } */
/* #main2-links-child { */
/*     /\* filter:blur(0px); *\/ */
/*     /\* -o-filter:blur(0px); *\/ */
/*     /\* -ms-filter:blur(0px); *\/ */
/*     /\* -moz-filter:blur(0px); *\/ */
/*     /\* -webkit-filter:blur(0px); *\/ */
/* } */
#main2-links-child.dark {
    background: rgba(0,0,0,0.5);
}
#main2-links-child {
    background: rgba(255,255,255,0.7);
}

.follow-highlight {
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 1px solid;
    /* background-color: lightblue; */
}


.shad {
    -webkit-box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.38);
    box-shadow: -1px 2px 3px 0px rgba(0,0,0,0.38);
}

/*.shad {*/
/*    -webkit-box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38);*/
/*    -moz-box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38);*/
/*    box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38);*/
/*}*/

.vshad {
    /* -webkit-box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38); */
    /* -moz-box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38); */
    /* box-shadow: -3px 6px 18px 4px rgba(0,0,0,0.38); */
    -webkit-box-shadow: -2px 2px 30px 7px rgba(0,0,0,0.38);
    -moz-box-shadow: -2px 2px 30px 7px rgba(0,0,0,0.38);
    box-shadow: -2px 2px 30px 7px rgba(0,0,0,0.38);
}
